/***************/
/** Variables **/
/***************/

@define-color primary    #FF5053;
@define-color highlight  #FEF2FF;
@define-color background #0F000A;

@define-color accent1 #B2AAFF;
@define-color accent2 #6A5FDB;
@define-color accent3 #261A66;
@define-color accent4 #29114C;
@define-color accent5 #190B2F;

/**************/
/** Styling  **/
/**************/

* {
  font-family: "Space Grotesk";
  letter-spacing: 2px;
}

window {
  background-color: @background;
  color: @highlight;
  border-radius: 8px;
}

slider {
	all: unset;
}

button {
  min-width: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
}

label {
  font-weight: bold;
}

.green {
  color: @accent1;
}
.red {
  color: @primary;
}

/*********/
/** Bar **/
/*********/

levelbar block,
highlight {
  min-height: 10px;
}

.system-button {
  color: @accent1;
  min-width: 24px;
}

/*********************/
/** Controll Center **/
/*********************/

window.controll-center {
  background-color: @background;
  color: @highlight;
  border: 1px solid @accent1;
  border-radius: 16px;
}

.tabs {
  min-width: 350px;
}

.cc-group {
  border: 1px solid @accent2;
  border-radius: 8px;
}

.cc-row-1 {
  min-width: 150px;
  min-height: 75px;
}

.cc-quick-button {
  min-width: 66px;
  min-height: 36px;
}

.secondary {
  font-weight: normal;
}

.img {
  min-width: 100px;
  min-height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
}

.recording.active {
  color: @primary;
}

.semi-button-icon {
  border-radius: 100px;
  min-width: 40px;
  min-height: 40px;
  margin-left: -5px;
}

/*******************/
/** Notifications **/
/*******************/

window.notification-popups box.notifications {
  padding: 0.5em;
}

.icon {
  min-width: 68px;
  min-height: 68px;
  margin-right: 1em;
}

.icon image {
  font-size: 58px;
  /* to center the icon */
  margin: 5px;
  color: @hightlight;
}

.icon box {
  min-width: 68px;
  min-height: 68px;
  border-radius: 7px;
}

.notification {
  min-width: 300px;
  border-radius: 11px;
  padding: 1em;
  margin: 0.5em;
  border: 1px solid @accent2;
  background-color: @accent4;
}

window.controll-center .notification {
  border: 1px solid @accent2;
}

.notification.critical {
  border: 1px solid @primary;
}

.title {
  color: @primary;
  font-size: 1.4em;
}

.body {
  color: @hightlight;
}

.actions .action-button {
  margin: 0 0.4em;
  margin-top: 0.8em;
}

.actions .action-button:first-child {
  margin-left: 0;
}

.actions .action-button:last-child {
  margin-right: 0;
}

/***********/
/** Power **/
/***********/

.power-window {
  background: rgba(0, 0, 0, 0.7);
}

.power-button-wrapper {
  border: 1px solid @accent2;
  background-color: @background;
  border-radius: 16px;
}

.power-button {
  background-color: @accent5;
  border: 1px solid @accent2;
  border-radius: 4px;
  min-width: 150px;
  min-height: 150px;
}
.power-button:hover,
.power-button:focus {
  background-color: @accent3;
}

.power-icon {
  font-size: 48px;
  margin-left: -12px;
}
