// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

$accent: #bb9af7;
$secondary: #3B4261;

window.Bar {
  background: $bg-color;
  color: $fg-color;
  border-radius: 8px;
  font-weight: bold;

  .system {
    color: $accent;
    min-width: 32px;
    min-height: 32px;
  }

  .battery-popover {
    .stats {
      color: #A9B1D6;
    }
  }

  .workspaces button {
    min-height: 24px;

    padding-left:  2px;
    padding-right: 2px;
    border-radius: 0px;

    background: transparent;
  }
}

window.Controll-center {
  background: $bg-color;
  color: $fg-color;
  border-radius: 8px;
  border: $accent 2px solid;
  stack {
    padding: 8px;

    .title {
      font-weight: 600;
      font-size: 1rem;
    }
    .subtitle {
      font-weight: 300;
      font-size: 0.8rem;
    }

    .group, .small-button, .bordered {
      border-radius: 6px;
      border: solid 2px $secondary;
    }

    button {
      border-radius: 0;
      background: transparent;
    }

    .device {
      button {
        // padding-top:    5px;
        // padding-bottom: 5px;
      }
    }
  }


  .sidebar {
    background: $secondary;

    button {
      outline: none;
      background: transparent;
      padding: 9px;
      border-radius: 0;

      &:hover {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.player {
  .controlls button {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0,0,0,0.8), 0 0 6px rgba(0,0,0,0.6);

    image {
      color: $bg-color;
    }
  }
}
